.place-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

.place-card__carrousel {
	display: flex;
	align-items: center;
	backdrop-filter: blur(5px);
}

.place-card__image {
	aspect-ratio: 16 / 9;
	object-fit: cover;
	width: 100%;
}

.place-card__information {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.place-card__information-description {
	font-size: 1rem;
	text-align: left;
	color: white;
}

.place-card__information-location {
	font-size: 0.8;
	color: white;
}

.place-card__button-container {
	display: flex;
	justify-content: flex-end;
	gap: 15px;
}

.place-card__button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2px;
	color: var(--saffron);
	border-radius: 8px;
	padding: 10px;
}

.place-card__button:hover,
.place-card__button:focus {
	transform: scale(1.1);
	color: var(--night);
	background-color: var(--saffron);
}
