/* reset */
input,
textarea,
button {
	all: unset;
	box-sizing: border-box;
}

.form-goto {
	display: flex;
	flex-direction: column;
	padding: 5px;
	border-radius: 8px;
}

.form-goto__field {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.form-goto__label {
	font-size: 15px;
	font-weight: 500;
	line-height: 35px;
	color: black;
}

.form-goto__message {
	font-size: 13px;
	color: red;
}

.form-goto__info {
	display: flex;
	flex-direction: column;
	padding: 5px;
	align-items: baseline;
	justify-content: space-between;
}

.form-goto__input,
.form-goto__textarea {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	font-size: 15px;
	color: black;
	background-color: rgba(169, 169, 169, 0.8);
	box-shadow: 0 0 0 1px black;
}

.form-goto__input:hover,
.form-goto_textarea:hover {
	box-shadow: 0 0 0 1px black;
}

.form-goto__input:focus,
.form-goto__textarea:focus {
	box-shadow: 0 0 0 2px black;
}

.form-goto__input {
	padding: 0 10px;
	height: 35px;
	line-height: 1;
}

.form-goto__textarea {
	resize: none;
	padding: 10px;
}

.form-goto__button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	padding: 0 15px;
	font-size: 15px;
	line-height: 1;
	font-weight: 500;
	height: 35px;
	width: 100%;
	background-color: #005028;
	color: white;
}

.form-goto__button:hover,
.form-goto__button:focus {
	background-color: rgb(0, 224, 112);
	color: black;
	transform: scale(1.05);
}
