.marker {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	padding: 10px;
	width: 95%;
	gap: 5px;

	background-color: white;
	color: black;

	/* border-radius: 8px; */
	border-bottom: 1px solid var(--saffron);

	/* border: 1px solid var(--saffron); */
}

.marker__image {
	display: flex;
	object-fit: cover;
	aspect-ratio: 16 / 9;
	border-radius: 8px;
	width: 100%;
	/* border: 1px solid red; */
}

.marker__header {
	display: flex;
}

.marker__button-container {
	display: flex;
	justify-content: space-around;
	padding-bottom: 12px;
}

.marker__button {
	display: flex;
	justify-content: center;
	color: var(--saffron);
	width: 30px;
	border-radius: 8px;
}

.marker__button:hover,
.marker__button:focus {
	transform: scale(1.1);
	background-color: var(--saffron);
	color: var(--night);
}

.marker-options {
	display: flex;
	justify-content: flex-end;
}

.marker__data {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 8px 12px;
	gap: 5px;
}

.marker__title {
	font-size: 1.3rem;
	display: flex;
	justify-content: space-between;
	color: black;
}

.marker__location {
	color: black;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;

	font-size: .7rem;
}
