.marker {
	display: flex;
	justify-content: space-around;
	padding: 5px;
	width: 95%;
	height: 80px;

	background-color: rgba(27, 27, 27, 0.5);
	color: white;

	/* border-radius: 8px; */

	border-bottom: 1px solid var(--saffron);

	/* border: 1px solid var(--saffron); */
}

.marker__image {
	display: flex;
	height: 100%;
	object-fit: cover;
	aspect-ratio: 16 / 9;
	border-radius: 8px;
	/* border: 1px solid red; */
}

.marker__header {
	display: flex;
}

.marker__button-container {
	display: flex;
	justify-content: space-around;
}

.marker__button {
	display: flex;
	justify-content: center;
	color: white;
	width: 30px;
	border-radius: 8px;
}

.marker__button:hover,
.marker__button:focus {
	transform: scale(1.1);
	background-color: var(--saffron);
}

.marker-options {
	display: flex;
	justify-content: flex-end;
}

.marker__data {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.marker__title {
	font-size: 1.3rem;
	display: flex;
	justify-content: space-between;
	color: white;
}

.marker__location {
	color: white;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;

	font-size: .7rem;
}
