.marker {
	display: flex;
	flex-direction: column;
	height: 90px;
	padding: 10px;
	justify-content: space-around;

	background-color: white;
	border-radius: 8px;
}

.marker-options {
	display: flex;
	justify-content: flex-end;
}

.marker-title {
	font-size: 1.3rem;
	display: flex;
	justify-content: space-between;
}

.marker-data {
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.marker-title span {
	display: flex;
	align-items: center;
	color: gray;
}
