.form-place {
	display: flex;
	flex-direction: column;
	padding: 5px;
	border-radius: 8px;
}

.form-place__field {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.form-place__label {
	font-size: 15px;
	font-weight: 500;
	line-height: 35px;
	color: black;
}

.form-place__message {
	font-size: 13px;
	color: var(--dark-red);
}

.form-place__info {
	display: flex;
	flex-direction: column;
	padding: 5px 0;
}

.form-place__input,
.form-place__textarea {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	font-size: 15px;
	color: black;
	background-color: white;
	box-shadow: 0 0 0 1px black;
}

.form-place__input:hover,
.form-place__textarea:hover {
	box-shadow: 0 0 0 1px black;
}

.form-place__input,
.form-place__textarea:focus {
	box-shadow: 0 0 0 2px black;
}

/* .Input::selection,
.Textarea::selection {
	background-color: white;
	color: black;
} */

.form-place__input {
	padding: 0 10px;
	height: 35px;
	line-height: 1;
}

.form-place__textarea {
	resize: none;
	padding: 10px;
}

.form-place__button--accept {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	padding: 0 15px;
	font-size: 15px;
	line-height: 1;
	font-weight: 500;
	height: 35px;
	width: 100%;
	background-color: var(--saffron);
	color: var(--night);
	margin-top: 50px;
}

.form-place__button--accept:hover,
.form-place__button--accept:focus {
	transform: scale(1.01);
}

.form-place__button--add,
.form-place__button--remove {
	border-radius: 8px;
	padding: 2px;
}

.form-place__button--add {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	color: var(--saffron);
	border: 1px solid var(--saffron);
	width: 70%;

}

.form-place__button--remove {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--dark-red);
	border: 1px solid var(--dark-red);
	background-color: #8c030a26;
	flex-shrink: 1;
}

.form-place__button--remove:hover,
.form-place__button--remove:focus {
	color: black;
}

.form-place__url {
	display: flex;
	gap: 20px;
	margin: 5px 0;
}

.form-place__input-url {
	flex-grow: 8;
}

.form-place__select-trigger {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	padding: 0 15px;
	font-size: 13px;
	line-height: 1;
	height: 35px;
	gap: 5px;
	background-color: white;
	color: var(--saffron);
	box-shadow: 0 0 0 2px black;
}

.form-place__select-trigger:hover {
	box-shadow: 0 0 0 1px black;
}
.form-place__select-trigger:focus {
	box-shadow: 0 0 0 1px black;
}
.form-place__select-trigger[data-placeholder] {
	color: var(--saffron);
}

.form-place__select-icon {
	color: var(--saffron);
}

.form-place__select-content {
	overflow: hidden;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px
		rgba(22, 23, 24, 0.2);
}

.form-place__select-viewport {
	padding: 5px;
}

.form-place__select-item {
	font-size: 13px;
	line-height: 1;
	color: #005028;
	border-radius: 3px;
	display: flex;
	align-items: center;
	height: 25px;
	padding: 0 35px 0 25px;
	position: relative;
	user-select: none;
}
.form-place__select-item[data-disabled] {
	color: var(slate-gray);
	pointer-events: none;
}
.form-place__select-item[data-highlighted] {
	outline: none;
	background-color: var(--saffron);
	color: var(--night);
}
